@{
    ViewData["Title"] = "Duvidas";
}

        <!-- divisao -->
        <div class="slider-wrapper">
            <section class="slider-section">
                <div class="slider-active slick-style">
                    <div class="img-interna" style="background-image:url(@Url.Content("~/img/divisao.jpg"));"></div>
                </div>
            </section>
        </div>
	</header>

    <!--===================== como funciona ====================== -->
    <section id="services" class="service-section mt-55">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 mx-auto">
                    <div class="section-title text-center mb-55">
                        <span class="wow fadeInDown" data-wow-delay=".2s"> Como funciona? </span>
                    </div>
                </div>
            </div>
            <div class="row mb-15 wow fadeInUp" data-wow-delay=".4s">
                <div class="col-md-3">
                    <div class="step-card">
                        <img src="@Url.Content("~/img/duvidas/passo1.jpg")" class="img img-responsive">
                        <div class="detalhe"></div>
                        <div class="tit"> <span>1º PASSO </span><br /> Escolha seu plano</div>
                        <div class="step-text">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <p>
                                        São inúmeras opções de planos. Busque por parceiros, faixa de valores,
                                        área de cobertura.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="step-card">
                        <img src="@Url.Content("~/img/duvidas/passo2.jpg")" class="img img-responsive">
                        <div class="detalhe"></div>
                        <div class="tit"> <span>2º PASSO </span><br /> Contrate online</div>
                        <div class="step-text">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <p>
                                        A contratação do Plano é feita diretamente pelo site.
                                        De onde você estiver, é simples, prático e totalmente seguro.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="step-card">
                        <img src="@Url.Content("~/img/duvidas/passo3.jpg")" class="img img-responsive">
                        <div class="detalhe"></div>
                        <div class="tit"> <span>3º PASSO </span><br /> Confirmação</div>
                        <div class="step-text">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <p>
                                        Sua solicitação será encaminhada ao nosso parceiro que
                                        entrará em contato com você.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="step-card">
                        <img src="@Url.Content("~/img/duvidas/passo4.jpg")" class="img img-responsive">
                        <div class="detalhe"></div>
                        <div class="tit"> <span>4º PASSO </span><br /> Seu pet seguro e protegido.</div>
                        <div class="step-text">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <p>
                                        Pronto! Você cuidando do seu pet o tanto que ele cuida de você.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!--========================= dúvidas ========================= -->
    <section class="faq-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="faq-content-wrapper mt-55 mb-55">
                        <div class="section-title">
                            <span class="text-dark"> Perguntas frequentes </span>
                        </div>
                        <div class="faq-wrapper accordion" id="accordionExample">
                            <div class="faq-item bg-light mb-25">
                                <div id="headingOne">
                                    <h5>
                                        <button class="faq-btn btn" type="button" data-toggle="collapse" data-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                            Porque ter um plano de saúde pet? <i class="lni"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="faq-content">
                                        A grande vantagem de contratar um plano de saúde para pets é o acesso a 
                                        serviços básicos e extras a um preço bem mais em conta do que pagá-los 
                                        separadamente. Então, caso o seu pet precise de visitas periódicas ao 
                                        veterinário ou necessite de uma consulta urgente, você não estará desprevenido.
                                    </div>
                                </div>
                            </div>

                            <div class="faq-item bg-light mb-25">
                                <div id="headingTwo">
                                    <h5>
                                        <button class="faq-btn btn collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            Quais regiões do País são atendidas? <i class="lni"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="faq-content">
                                        A Unipet oferece, atualmente, atendimento em São Paulo (regiões metropolitanas, 
                                        litoral e interior). Estamos em franca expansão, acesse o menu "área de cobertura" 
                                        e busque quais cidades a Unipet está presente.
                                    </div>
                                </div>
                            </div>

                            <div class="faq-item bg-light mb-25">
                                <div id="headingThree">
                                    <h5>
                                        <button class="faq-btn btn collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            Posso comprar o plano para quantos pets? <i class="lni"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="faq-content">
                                        Não há limite de compra por CPF. Lembrando que para realizar uma compra, o contratante 
                                        deve ter 18 anos ou mais.
                                    </div>
                                </div>
                            </div>

                            <div class="faq-item bg-light">
                                <div id="headingFour">
                                    <h5>
                                        <button class="faq-btn btn collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                            Como renovo minha assinatura? <i class="lni"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="faq-content">
                                        A renovação é automática, você não precisa se preocupar com isso.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>