@{
    ViewData["Title"] = "Grupo Unipet";
}
<!-- divisao -->
<div class="slider-wrapper">
    <section class="slider-section">
        <div class="slider-active slick-style">
            <div class="img-interna" style="background-image:url(@Url.Content("~/img/divisao.jpg"));"></div>
        </div>
    </section>
</div>
	</header>

<!--===================== Grupo Unipet ====================== -->
<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon">
            <h2>Nossa equipe</h2>
            <p> Orientador: José Antonio Gallo Junior</p>
        </div>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <img src="@Url.Content("~/img/equipe/team1.png")" class="img-responsive">
                    <h3>Déborah Ballaminut de Lacerda</h3>
                    <p>UX/UI | Desenvolvimento Front e Back-End</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <img src="@Url.Content("~/img/equipe/team2.png")" class="img-responsive">
                    <h3>Everton Luiz de Souza</h3>
                    <p>Desenvolvimento Back-End</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <img src="@Url.Content("~/img/equipe/team3.png")" class="img-responsive">
                    <h3>Gustavo Alves Cardoso</h3>
                    <p>Modelagem de Dados | Desenvolvimento Back-End</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <img src="@Url.Content("~/img/equipe/team4.png")" class="img-responsive">
                    <h3>Sueli Aparecida Horacio Graciano</h3>
                    <p>Pesquisa</p>
                </div>
            </li>
        </ul>
    </div>
</section>
