@model IEnumerable<Unipet.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <!--card Boas Vindas-->
            <div class="app-card alert alert-dismissible shadow-sm mb-4 border-left-decoration" role="alert">
                <div class="inner">
                    <div class="app-card-body p-3 p-lg-4">
                        <h3 class="mb-3">Contratos</h3>
                        <div class="row gx-5 gy-3">
                            <div class="col-12 col-lg-12">
                                <p>
                                    <a class="btn app-btn-primary" asp-action="Create">
                                        <i class="fas fa-plus" style="margin-right: 8px"></i> Adicionar Contrato
                                    </a>
                                </p>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DataTermino)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ValorCombinado)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Plano)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Tutor)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Empresa)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DataTermino)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.ValorCombinado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Plano.NomePlano)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tutor.NomeTutor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Empresa.RazaoSocial)
                                            </td>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.IdContrato" title="Ver detalhes" style="padding: 0 5px"><i class="fas fa-eye"></i></a> |
                                                <a asp-action="Delete" asp-route-id="@item.IdContrato" title="Excluir" style="padding: 0 5px"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
